[submodule "WS21_22_Softwarewerkzeuge_Praktomat_Abgabe02_libGnuplot"]
	path = WS21_22_Softwarewerkzeuge_Praktomat_Abgabe02_libGnuplot
	url = https://github.com/FlyingRaijinMinato-UniStuttgart/WS21_22_Softwarewerkzeuge_Praktomat_Abgabe02_libGnuplot.git
